{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
 {{> title header='Завдання 1' description='Пересуньте елемент .item на 200px вправо та на 150px вниз відносо початкового положення'}} 

<div class="wrapper">
  {{!-- <img src="img/div.container.png"/> --}}
  <div class="container">
    <div class='task1 task'>
      <div class='item'>
      </div>
    </div>
  </div>
</div> 

{{> title header='Завдання 2' description='Спозиціонуйте елемент .item посередині батьківсього елемента (ширина і висота елемента 80px)'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-1.png"/> --}}
  <div class="container">
    <div class='task2 task'>
      <div class='item'>
      </div>
    </div>
  </div>
</div> 

 {{> title header='Завдання 3' description='Зафіксуйте елемент .item в лівому верхньому краю сторінки'}} 
<div class="wrapper ">
  {{!-- <img src="img/div.container-2.png"/> --}}
  <div class="container container3">
    <div class='task3 task'>
       <div class='item item1'>
        3
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Зафіксуйте елемент .item зверху по центру відносно батьківського елемента так щоб він залишався на місці при прокрутці контейнера'}} 
<div class="wrapper wrapper4">
  {{!-- <img src="img/div.container-3.png"/> --}}
  <div class="container container4">
    <div class='task4 task'>
       <div class='item '>
        4
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='Розмістіть елементи .item як на картинці'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-4.png"/> --}}
  <div class="container">
    <div class='task5 task'>
      <div class='item item1'>
      </div>
      <div class='item item2'>
      </div>
      <div class='item item3'>
      </div>
    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Вирівняйте елементи .item по лівій стороні з обтіканням тексту'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-5.png"/> --}}
  <div class="container">
    <div class='task6 task'>
      
      <div class='item'>
        
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris, bibendum et neque quis, consectetur laoreet risus. Quisque lacinia, ipsum eget eleifend aliquam, odio est varius urna, vel sodales nibh enim ut purus. Nulla molestie nisl aliquam nibh convallis, sed elementum purus feugiat. Aliquam id mattis lorem, id maximus nisi. Curabitur venenatis tristique sagittis. Proin blandit, enim vel pharetra interdum, massa mauris feugiat mi, non venenatis sem nisl quis arcu. Praesent non facilisis massa, id ultrices velit.</p>

    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Вирівняйте елементи .item по правій стороні з обтіканням тексту'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-6.png"/> --}}
  <div class="container">
    <div class='task7 task'>
      <div class='item'>
    
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris, bibendum et neque quis, consectetur laoreet risus. Quisque lacinia, ipsum eget eleifend aliquam, odio est varius urna, vel sodales nibh enim ut purus. Nulla molestie nisl aliquam nibh convallis, sed elementum purus feugiat. Aliquam id mattis lorem, id maximus nisi. Curabitur venenatis tristique sagittis. Proin blandit, enim vel pharetra interdum, massa mauris feugiat mi, non venenatis sem nisl quis arcu. Praesent non facilisis massa, id ultrices velit.</p>
    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Зробіть щоб .elem не обтікались'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-7.png"/> --}}
  <div class="container">
    <div class='task8 task'>
      <div class='item item1'></div>
      <div class='item item2'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris, bibendum et neque quis, consectetur laoreet risus. Quisque lacinia, ipsum eget eleifend aliquam, odio est varius urna, vel sodales nibh enim ut purus. Nulla molestie nisl aliquam nibh convallis, sed elementum purus feugiat. Aliquam id mattis lorem, id maximus nisi. Curabitur venenatis tristique sagittis. Proin blandit, enim vel pharetra interdum, massa mauris feugiat mi, non venenatis sem nisl quis arcu. Praesent non facilisis massa, id ultrices velit.</p>


    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Зробіть щоб .elem не обтікались справа'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-8.png"/> --}}
  <div class="container">
    <div class='task9 task'>
      <div class='item item1'></div>
      <div class='item item2'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris, bibendum et neque quis, consectetur laoreet risus. Quisque lacinia, ipsum eget eleifend aliquam, odio est varius urna, vel sodales nibh enim ut purus. Nulla molestie nisl aliquam nibh convallis, sed elementum purus feugiat. Aliquam id mattis lorem, id maximus nisi. Curabitur venenatis tristique sagittis. Proin blandit, enim vel pharetra interdum, massa mauris feugiat mi, non venenatis sem nisl quis arcu. Praesent non facilisis massa, id ultrices velit.</p>

    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Зробіть щоб .elem не обтікались зліва'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-9.png"/> --}}
  <div class="container">
    <div class='task10 task'>
      <div class='item item1'></div>
      <div class='item item2'></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris, bibendum et neque quis, consectetur laoreet risus. Quisque lacinia, ipsum eget eleifend aliquam, odio est varius urna, vel sodales nibh enim ut purus. Nulla molestie nisl aliquam nibh convallis, sed elementum purus feugiat. Aliquam id mattis lorem, id maximus nisi. Curabitur venenatis tristique sagittis. Proin blandit, enim vel pharetra interdum, massa mauris feugiat mi, non venenatis sem nisl quis arcu. Praesent non facilisis massa, id ultrices velit.</p>

    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Зробіть щоб зображення було зменшене або розтягнуте для того, щоб поміститись повністю в контейнері зі збереженням пропорцій сторін'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-10.png"/> --}}
  <div class="container ">
    <div class='task11 task'>
      <img src='https://picsum.photos/500/1000' class="img-item"/>
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Зробіть щоб зображення було збільшене або зменшене, щоб заповнити контейнер зі збереженням пропорцій сторін, але може бути обрізане'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-11.png"/> --}}
  <div class="container  ">
    <div class='task12 task'>
      <img src='https://picsum.photos/500/1000' class="img-item"/>


    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Розтяніть зображення для заповнення всього контейнера'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-12.png"/> --}}
  <div class="container ">
    <div class='task13 task'>
      <img src='https://picsum.photos/500/1000' class="img-item"/>


    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Зробіть щоб зображення було зменшене, якщо воно більше контейнера, але не буде розтягнуте, якщо воно менше контейнера'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-13.png"/> --}}
  <div class="container ">
    <div class='task14 task'>
      <img src='https://picsum.photos/500/1000' class="img-item"/>


    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Розмістіть зображення вертикально по центру та вертикально справа'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-14.png"/> --}}
  <div class="container ">
    <div class='task15 task'>
      <img src='https://picsum.photos/200/200' class="img-item"/>

    </div>
  </div>
</div>

 {{>  title header='Завдання 16' description='Розмістіть зображення в лівому верхому куті'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-15.png"/> --}}
  <div class="container ">
    <div class='task16 task'>
      <img src='https://picsum.photos/200/200' class="img-item"/>

    </div>
  </div>
</div>

 {{>  title header='Завдання 17' description='Розмістіть зображення вертикально знизу та вертикально по центру'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-16.png"/> --}}
  <div class="container ">
    <div class='task17 task'>
      <img src='https://picsum.photos/200/200' class="img-item"/>

    </div>
  </div>
</div>

 {{>  title header='Завдання 18' description='Розмістіть зображення в 40px від лівого боку, та в 25px зверху'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-17.png"/> --}}
  <div class="container ">
    <div class='task18 task'>
      <img src='https://picsum.photos/200/200' class="img-item"/>

    </div>
  </div>
</div>

 {{>  title header='Завдання 19' description='Розмістіть зображення по центру'}} 
<div class="wrapper">
  {{!-- <img src="img/div.container-18.png"/> --}}
  <div class="container ">
    <div class='task19 task'>
      <img src='https://picsum.photos/200/200' class="img-item"/>
    </div>
  </div>
</div>


 {{> title header='Завдання 20' description='Забороніть користовувачу виділяти текст в елементі .task20'}} 
<div class="wrapper">
  <div class="container  ">
    <div class='task20 task'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris</p>
    </div>
  </div>
</div>

 {{> title header='Завдання 21' description='Зробіть щоб при виділенні виділялись всі дочірні елементи .task22'}} 
<div class="wrapper">
  <div class="container ">
    <div class='task21 task'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris</p>

    </div>
  </div>
</div>

 {{> title header='Завдання 22' description='Встановіть синій курсор редагування'}} 
<div class="wrapper">
  <div class="container ">
    <div class='task22 task'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et aliquam lectus, quis semper magna. Duis porta justo sed velit elementum, in auctor est fringilla. In interdum, lorem feugiat tincidunt rhoncus, eros ex dapibus eros, et ullamcorper elit est nec leo. Curabitur pharetra eu risus quis convallis. Nunc id consequat turpis, semper dapibus odio. Suspendisse nec dolor diam. Morbi et arcu fringilla, dictum odio id, vestibulum diam. Mauris commodo metus risus, vel sodales magna sodales a. Nullam nec ex molestie, rutrum dui ut, auctor purus. Ut libero mauris</p>
    </div>
  </div>
</div>

 {{> title header='Завдання 23' description='Встановить для сторінки плавне прокручення'}} 

