{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
 {{> title header='Завдання 1' description='Виведіть елементи .item в рядок'}} 

<div class="container">
  {{!-- <div class="container-example">  
    <div class='task1-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}
  <div class='task1 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 2' description='Виведіть елементи .item в рядок в порядку від 1 до 5'}} 
<div class="container">
  {{!-- <div class="container-example">  
    <div class='task2-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}
  <div class='task2 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 3' description='Виведіть елементи .item в рядок в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  
    <div class='task3-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}
  <div class='task3 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Виведіть елементи .item в стовбик в порядку від 1 до 5'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task4-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}
 
  <div class='task4 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task5-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task5 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task6-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task6 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task7-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task7 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task8-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task8 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task9-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task9 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task10-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task10 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task11-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task11 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task12-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task12 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task13-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task13 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task14-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task14 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container">
  {{!-- <div class="container-example">  

    <div class='task15-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task15 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 16' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container fix-height">
  {{!-- <div class="container-example">  
    <div class='task16-example fix-height task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div>  --}}


  <div class='task16 fix-height task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 17' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class="container fix-height">
  {{!-- <div class="container-example">  
    <div class='task17-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task17 fix-height task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 18' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task18-example task-example'>
      <div class='item item-example'>
        <span>1</span>
      </div>
      <div class='item item-example'>
        <span>2</span>
      </div>
      <div class='item item-example'>
        <span>3</span>
      </div>
      <div class='item item-example'>
        <span>4</span>
      </div>
      <div class='item item-example'>
        <span>5</span>
      </div>
      <div class='item item-example'>
        <span>6</span>
      </div>
    </div>
  </div> --}}

  <div class='task18 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 19' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task19-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task19 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 20' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task20-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task20 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 21' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task21-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task21 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 22' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task22-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task22 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 23' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task23-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task23 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 24' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task24-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task24 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 25' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task25-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task25 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 26' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task26-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task26 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 27' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  
    <div class='task27-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task27 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 28' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task28-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task28 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 29' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task29-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task29 task'>
    <div class='item'>
      1
    </div>
    <div class='item'>
      2
    </div>
    <div class='item'>
      3
    </div>
    <div class='item'>
      4
    </div>
    <div class='item'>
      5
    </div>
    <div class='item'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 30' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task30-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task30 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
    <div class='item item5'>
      5
    </div>
    <div class='item item6'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 31' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task31-example task-example'>
      <div class='item item-example item1-example'>
        1
      </div>
      <div class='item  item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task31 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
    <div class='item item5'>
      5
    </div>
    <div class='item item6'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 32' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task32-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example item2-example'>
        2
      </div>
      <div class='item item-example '>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task32 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
    <div class='item item5'>
      5
    </div>
    <div class='item item6'>
        6
    </div>
  </div>
</div>

 {{>  title header='Завдання 33' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container fix-height'>
  {{!-- <div class="container-example">  

    <div class='task33-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example item3-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task33 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
    <div class='item item5'>
      5
    </div>
    <div class='item item6'>
        6
    </div>
  </div>
</div>

 {{> title header='Завдання 34' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container '>
  {{!-- <div class="container-example">  

    <div class='task34-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example  item4-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task34 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>

 {{> title header='Завдання 35' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container '>
  {{!-- <div class="container-example">  

    <div class='task35-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example item5-example'>
        5
      </div>
      <div class='item item-example '>
          6
      </div>
    </div>
 </div> --}}

  <div class='task35 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>

 {{> title header='Завдання 36' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container'>
  {{!-- <div class="container-example">  

    <div class='task36-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task36 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>

 {{> title header='Завдання 37' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container'>
  {{!-- <div class="container-example">  

    <div class='task36-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task37 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>

 {{> title header='Завдання 38' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container'>
  {{!-- <div class="container-example">  

    <div class='task36-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task38 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>

 {{> title header='Завдання 39' description='Виведіть елементи .item в стовбик в порядку від 5 до 1'}} 
<div class='container'>
  {{!-- <div class="container-example">  

    <div class='task36-example task-example'>
      <div class='item item-example'>
        1
      </div>
      <div class='item item-example'>
        2
      </div>
      <div class='item item-example'>
        3
      </div>
      <div class='item item-example'>
        4
      </div>
      <div class='item item-example'>
        5
      </div>
      <div class='item item-example'>
          6
      </div>
    </div>
 </div> --}}

  <div class='task39 task'>
    <div class='item item1'>
      1
    </div>
    <div class='item item2'>
      2
    </div>
    <div class='item item3'>
      3
    </div>
    <div class='item item4'>
      4
    </div>
  </div>
</div>
