body {
  padding: 30px;
  overflow: scroll;
}

.wrapper {
  border: 2px solid #0050ff;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 50px;
  min-width: 750px;
  background: white;
  max-height: 400px;
  height: 400px;
  width: 700px;
  position: relative;
}
.container {
  position: relative;
}

img {
  height: 100%;
  width: auto;
}

.task {
  height: 100%;
  width: 100%;
}

.item {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 5px;
  font-size: 55px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  color: white;
  background-color: #0050ff;
}

.task2 {
  .item {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}

.task1 {
  .item {
    position: relative;
    top: 150px;
    left: 200px;
  }
}

.task3 {
  .item {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.wrapper4 {
  overflow: scroll;
}

.container4 {
  width: 900px;
  position: relative;
}

.task4 {
  .item {
    position: sticky;
    bottom: 300px;
    left: calc(50% - 40px);
  }
}

.task5 {
  .item1 {
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: red;
  }
  .item2 {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .item3 {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
  }
}

.task6 {
  .item {
    float: left;
  }
}
p {
  display: block;
}

.task7 {
  .item {
    float: right;
  }
}

.task8 {
  .item1 {
    float: left;
  }
  .item2 {
    height: 120px;
    float: right;
  }
  p {
    clear: both;
  }
}
.task9 {
  .item1 {
    float: left;
  }
  .item2 {
    height: 120px;
    float: right;
  }
  p {
    clear: right;
  }
}
.task10 {
  .item1 {
    float: left;
  }
  .item2 {
    float: right;
    height: 120px;
  }
  p {
    clear: left;
  }
}
.task11 {
  .img-item {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.task12 {
  .img-item {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.task13 {
  .img-item {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}
.task14 {
  .img-item {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }
}

.task15 {
  .img-item {
    height: 400px;
    width: 400px;
    object-fit: none;
    object-position: center right;
  }
}

.task16 {
  .img-item {
    height: 400px;
    width: 400px;
    object-fit: none;
    object-position: top left;
  }
}

.task17 {
  .img-item {
    height: 400px;
    width: 400px;
    object-fit: none;
    object-position: bottom center;
  }
}

.task18 {
  .img-item {
    height: 400px;
    width: 400px;
    object-fit: none;
    object-position: 40px 25px;
  }
}

.task19 {
  .img-item {
    height: 400px;
    width: 400px;
    object-fit: none;
    object-position: 50% 50%;
  }
}

.task20 {
  user-select: none;
}

.task21 {
  user-select: all;
}

.task22 {
  caret-color: blue;
}

body {
  scroll-behavior: smooth;
}
