body {
  padding: 30px;
}

.container {
  border: 2px solid #0050ff;
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 50px;
  width: 750px;
  position: relative;
}
.container-example {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  z-index: -1;
}
.item {
  height: 60px;
  width: 80px;
  border-radius: 10px;
  margin: 5px;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  color: #0050ff;
  border: 2px solid black;
}

.task-example {
  z-index: -1;
  height: 100%;
  width: 100%;
}

.task-example {
  display: flex;
  // width: 100%;
  // height: 50%;
}
.task {
  height: inherit;
  width: inherit;
}

.item-example {
  color: #3f7f5e;
  background: #e2ebff;
  opacity: 1;
  border-color: transparent;
}

.task34 .task29 .task20 .task16 .task34-example .task29-example .task20-example .task16-example {
  .item {
    height: auto;
  }
}

.task6,
.task7,
.task8,
.task9,
.task6-example,
.task7-example,
.task8-example,
.fix-height {
  .item {
    width: 25%;
  }
}

.fix-height {
  height: 400px;
  min-height: 250px;

  div {
    flex-wrap: wrap;
  }
}

.task1-example {
  display: flex;
  width: 100%;
}

.task2-example {
  display: flex;
  flex-direction: row;
}

.task3-example {
  display: flex;
  flex-direction: row-reverse;
}

.task4-example {
  display: flex;
  flex-direction: column;
}
.task5-example {
  display: flex;
  flex-direction: column-reverse;
}

.task6-example {
  display: flex;
  flex-wrap: wrap;
}

.task7-example {
  display: flex;
  flex-wrap: nowrap;
}

.task8-example {
  display: flex;
  flex-wrap: wrap-reverse;
}

.task9-example {
  display: flex;
  flex-flow: row-reverse wrap;
}

.task10-example {
  display: flex;
  justify-content: flex-start;
}

.task11-example {
  display: flex;
  justify-content: flex-end;
}
.task12-example {
  display: flex;
  justify-content: center;
}
.task13-example {
  display: flex;
  justify-content: space-between;
}

.task14-example {
  display: flex;
  justify-content: space-around;
}
.task15-example {
  display: flex;
  justify-content: space-evenly;
}
.task16-example {
  display: flex;
  justify-content: stretch;
  .item {
    height: auto;
  }
}
.task17-example {
  display: flex;
  align-content: flex-start;
}
.task18-example {
  display: flex;
  align-content: flex-end;
}
.task19-example {
  display: flex;
  align-content: center;
}
.task20-example {
  display: flex;
  .item {
    height: auto;
  }
  align-content: stretch;
}
.task21-example {
  display: flex;
  align-content: space-between;
}
.task22-example {
  display: flex;
  align-content: space-around;
}
.task23-example {
  display: flex;
  align-content: space-evenly;
}

.task25-example {
  display: flex;
  place-content: flex-start center;
}

.task26-example {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.task27-example {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
}
.task28-example {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.task29-example {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  .item {
    height: auto;
  }
}
.task30-example {
  display: flex;
  align-items: baseline;
  .item:nth-child(2n + 1) {
    height: 150px;
    font-size: 50px;
    display: inline-flex;
  }
}

.task31-example {
  display: flex;
  align-items: center;
  .item1-example {
    align-self: flex-start;
  }
}
.task32-example {
  display: flex;
  .item2-example {
    align-self: flex-end;
  }
}
.task33-example {
  display: flex;
  .item3-example {
    align-self: center;
  }
}
.task34-example {
  display: flex;

  .item4-example {
    align-self: stretch;
    height: auto;
  }
}

.task1 {
  display: flex;
}

.task2 {
  display: flex;
  flex-direction: row;
}

.task3 {
  display: flex;
  flex-direction: row-reverse;
}

.task4 {
  display: flex;
  flex-direction: column;
}
.task5 {
  display: flex;
  flex-direction: column-reverse;
}

.task6 {
  display: flex;
  flex-wrap: wrap;
}

.task7 {
  display: flex;
  flex-wrap: nowrap;
}

.task8 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.task9 {
  display: flex;
  flex-flow: row-reverse wrap;
}

.task10 {
  display: flex;
  justify-content: flex-start;
}

.task11 {
  display: flex;
  justify-content: flex-end;
}
.task12 {
  display: flex;
  justify-content: center;
}
.task13 {
  display: flex;
  justify-content: space-between;
}

.task14 {
  display: flex;
  justify-content: space-around;
}
.task15 {
  display: flex;
  justify-content: space-evenly;
}
.task16 {
  display: flex;
  justify-content: stretch;
  .item {
    height: auto;
  }
}
.task17 {
  display: flex;
  align-content: flex-start;
}
.task18 {
  display: flex;
  align-content: flex-end;
}
.task19 {
  display: flex;
  align-content: center;
}
.task20 {
  display: flex;
  .item {
    height: auto;
  }
  align-content: stretch;
}
.task21 {
  display: flex;
  align-content: space-between;
}
.task22 {
  display: flex;
  align-content: space-around;
}
.task23 {
  display: flex;
  align-content: space-evenly;
}

.task24 {
  display: flex;
  place-content: flex-start center;
}

.task25 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.task26 {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
}
.task27 {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.task28 {
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  .item {
    height: auto;
  }
}
.task29 {
  display: flex;
  align-items: baseline;
  .item:nth-child(2n + 1) {
    height: 150px;
    font-size: 50px;
    display: inline-flex;
  }
}

.task30 {
  display: flex;
  align-items: center;
  .item1 {
    align-self: flex-start;
  }
}
.task31 {
  display: flex;
  .item2 {
    align-self: flex-end;
  }
}
.task32 {
  display: flex;

  .item3 {
    align-self: center;
  }
}
.task33 {
  display: flex;
  .item4 {
    align-self: stretch;
    height: auto;
  }
}

.task34 {
  display: flex;
  .item1 {
    flex-basis: 50%;
  }
}

.task35 {
  display: flex;

  .item2 {
    flex-grow: 1;
  }
}

.task36 {
  display: flex;
  .item {
    width: 100%;
  }
  .item3 {
    flex-shrink: 0.5;
  }
}

.task37 {
  display: flex;
  .item4 {
    flex: 0 0 200px;
  }
}

.task38 {
  flex-wrap: wrap;
  .item {
    width: 40%;
  }
  display: flex;
  gap: 20px 30px;
}

.task39 {
  display: flex;
  .item1 {
    order: 2;
  }
  .item3 {
    order: 1;
  }
}
